<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/create-secondaryInfo.css">
  <title>Registration Form</title>



</head>
<body>
<div class="container">
  <div class="title">Registration</div>
  <div class="content">
    <form name="myForm" th:action="@{|/users/create/continue/${user.getId()}|}" th:object="${user}" enctype="multipart/form-data" method="POST">
      <div class="user-details">

        <input hidden type="number" th:field="*{id}" id="id" th:value="*{id}"/>

        <div class="input-box">
          <span class="details">Age</span>
          <input type="number" th:field="*{age}" placeholder="Enter your age">
        </div>
        <div class="input-box">
          <span class="details">Employed</span>
          <input type="checkbox" th:field="*{employed}">
        </div>
        <div class="input-box">
          <span class="details">Bio</span>
          <input type="text" th:field="*{bio}">
        </div>
        <div class="input-box">
          <span class="details">Country</span>
          <input type="text" th:field="*{country}">
        </div>



        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <div class="select">
            <span class="details">Gender</span>
            <select name="format" id="format" th:field="*{gender}" >

              <option th:each="gender : ${T(ua.socialnetwork.entity.enums.Gender).values()}"
                      th:value="${gender}"
                      th:text="${gender}">
              </option>
            </select>
          </div>
        </div>




        <div class="input-box">
          <span class="details">Password</span>
          <input name="p" type="password" th:field="*{password}" placeholder="Enter your password" id="password" required>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input type="password" id="confirm_password" placeholder="Confirm your password" required>
        </div>
      </div>



      <div class="input-box">
        <span class="details">Profile image</span>
        <input type="file" name="userImage">
      </div>

      <div class="input-box">
        <span class="details">Background image</span>
        <input type="file" name="imageBackground">
      </div>

      <a th:href="@{/posts}" th:text="'Skip'"></a>



      <div class="button">
        <input type="submit" value="Create">
      </div>
    </form>
  </div>
</div>

<script>
  var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

  function validateForm() {
    var x = document.forms["myForm"]["p"].value;
    if (x == "") {
      alert("Name must be filled out");
      return false;
    }
  }
</script>

</body>
</html>