<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-offset-2 col-sm-8">
    <h2>Feed</h2>
    <form th:action="@{/posts/new}" method="get">
        <div align="right">
            <input class="btn-info btn-lg" type="submit" value="Create new Post">
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, iter: ${posts}">
            <!--th scope="row" th:text="${iStat.index + 1}"/-->
            <td th:text="${post.id}"/>
            <td th:text="${post.title}">
            </td>
            <td th:text="${post.body}"/>
            <td th:text="${post.creationDate}"/>



<!--            <td>-->
<!--                <a th:href="@{|/users/${user.id}/update|}">Edit</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{|/users/${user.id}/delete|}">Remove</a>-->
<!--            </td>-->
                        <td>
                            <a class="btn btn-default" th:href="@{|/comment/add|}">Add new comment</a>
                        </td>
        </tr>
    </table>
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <a th:href="@{|/users/${#authentication.principal.username}|}">UUSER</a>


</div>

</body>
</html>