<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login-page.css">
    <title>Login</title>

</head>
<body>
    <div class="container">
        <h1>Socialhorse</h1>
        <p>Horses occasionally inspire people to<br> make impressive actions.</p>
    </div>

    <form th:action="@{/login}" method="post">

        <p th:if="${param.error}" class="alert alert-danger text-center">Username or password is not correct!</p>
        <p th:if="${param.logout}" class="alert alert-info text-center">You have been logged out.</p>

        <header>
            <div class="box">
                <input type="text" name="username" id="email" placeholder="Username"><br>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>

            <div class="link">

                <button type="submit">Login</button>
            </div>

            <div class="link1">
                <label for="remember"> Remember me</label>
                <input type="checkbox" name="remember" id="remember" />
            </div>

            <div class="link2">
                <a th:href="@{/users/create}">Create account</a>
            </div>
        </header>
    </form>
   
</body>
</html>